/* Footer */

.footer {
    background: #1c1d21;
    text-align: center;
    padding: 60px 0;
}

.footer-links {
    list-style: none;
    margin: 20px 0;

}

.footer-links li {
    display: inline-block;
    border-radius: 50%;
}

.footer-links li a {
    display: block;
    width: 50px;
    height: 50px;
    background: #6195ff;
    color: #fff;
    margin: 0 5px;
    border-radius: 50%;
}

.footer-links li a i {
    line-height: 50px;
    font-size: 20px;
}

.copyright {
    color: #999;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 40px;
}