/*-----------------General Command-------------------*/

.cintainer {
    width: 80%;
    /* height: 20px; */
    margin: auto;
    /* background: red; */
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: montserrat, sans-serif;
}

button {
    font-family: inherit;
}

.hover-opacity {
    transition: opacity 0.5s;
}

.hover-opacity:hover {
    opacity: 0.8;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
}

.section-header .section-title {
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.section-header .sction-line {
    display: block;
    height: 3px;
    width: 60px;
    background-color: #6195ff;
    margin: 0 auto 70px auto;
}

.pdy {
    padding: 120px 0;
}

.ltr-effect {
    position: relative;
}

.ltr-effect::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #333;
    width: 0;
    transition: width 0.5s;
    z-index: -1;
}

.ltr-effect:hover::after {
    width: 100%;
}

.tp-effect {
    position: relative;
}

.tp-effect::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #333;
    width: 100%;
    height: 0;
    transition: height 0.5s;
    z-index: -1;
}

.tp-effect:hover::after {
    height: 100%;
}