/* Offer Section */

.offer-content {
    overflow: hidden;
}

.offer_item {
    width: 30%;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    padding: 30px 15px 30px 70px;
    position: relative;
}

.offer_item.mg {
    margin: 0 5%;
}

.offer_item .icon {
    position: absolute;
    left: 15px;
    top: 40px;
    color: #3498db;
}

.offer-item-title {
    margin-bottom: 15px;
    transition: color 0.5s;
}

.offer-item-desc {
    line-height: 1.6;
    color: #999;
}

.offer_item:hover .offer-item-title {
    color: #fff;
}