/* ---------------------------potfolio Section-------------------------------- */

.portfolio-content {
    overflow: hidden;
}

.portfolio-item {
    width: 32%;
    float: left;
    margin-bottom: 60px;
    position: relative;
    padding: 20px;
}

.portfolio-item .layer-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.portfolio-item:hover .layer-content {
    opacity: 1;
    visibility: visible;
}

.layer-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.layer-content .category {
    color: #6195ff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.2s;
}

.layer-content-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
    position: relative;
    top: 10px;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.4s;
}

.layer-content a {
    color: #fff;
    top: 10px;
    position: relative;
    transition: top 0.5s, opacity 0.5s;
    transition-delay: 0.6s;
    opacity: 0;
}

.layer-content a i {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #6195ff;
    line-height: 40px;
}

.portfolio-item:hover .layer-content .category,
.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-content a {
    top: 0;
    opacity: 1;
}

.portfolio-item img {
    width: 100%;
}

.portfolio-item.mg {
    margin: 0 2%;
}